@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$primary-color: #213f7d;
$secondary-color: #545f7d;
$text-color: #39cdcc;
$font-family: "Poppins", sans-serif;
$error-color: crimson;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding-inline: 40px;

  .logo {
    width: 100px;
  }

  .search {
    display: flex;
    height: 37px;
    max-width: 400px;
    width: 300px;
    min-width: 200px;

    button {
      background-color: $text-color;
      color: #fff;
      border: none;
      width: 70px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 5px 5px 0;
      margin-left: -2px;
      cursor: pointer;
    }
  }
  .setting {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    .notification {
      width: 20px;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }

    .profile {
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.2rem;
    }
  }

  input {
    margin-bottom: 0;
  }
}
